<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" android:versionCode="10519" android:versionName="1.5.19" package="com.ascon.pilot_fly_ascon" android:installLocation="preferExternal">
	<uses-sdk android:minSdkVersion="17" android:targetSdkVersion="28" />
	<application android:label="Pilot-FLY ASCON" android:theme="@style/MainTheme" android:icon="@drawable/pilot_icon_ascon"></application>
	<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
</manifest>